<!DOCTYPE html>
<html>
<head>
  <title>Qa</title>
  <%= stylesheet_link_tag    "qa/application", media: "all" %>
  <%= javascript_include_tag "qa/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
